/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  vertical-align: baseline;
  font-size: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

video {
  width: 100%;
  vertical-align: bottom;
}


/* Display */

.b {
  display: block;
}

.ib {
  display: inline-block;
}

.flex {
  display: flex;
}

.hide {
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  overflow: hidden;
  position: absolute;
}



/* Structure */

html {
  background-color: #ffffff;
  color: #0b0b0b;
  font-size: 18px;
  hyphens: none;

  font-family: "Untitled Sans";
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.site__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 40px 0 0;
}

.site__title {
  margin-right: 20px;
}

.site__content {
  min-height: 60vh;
  margin-bottom: 100px;
}

.site__footer {
  margin-bottom: 60px;
}

.fit {
  max-width: 700px;
}

.nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav li {
  display: inline-block;
}

.nav li + li {
  margin-left: 10px;
}

figure {
  margin: 40px 0;
}

p + figure {
  margin-top: 40px;
}

.decorationSmall {
  margin: 0 auto;
  width: 20px;
  height: 1px;
  background: black;
}





/* Spacing */

.mrs {
  margin-right: 10px;
}

.mr {
  margin-right: 20px;
}

.mbxs {
  margin-bottom: 5px;
}

.mbs {
  margin-bottom: 10px;
}

.mb{
  margin-bottom: 20px;
}

.mbl {
  margin-bottom: 40px;
}


.phl {
  margin: 0 40px;
}



/* Global Typography */

h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

p + h2 {
  margin-top: 40px;
}

figure + h2 {
  margin-top: 40px;
}

p {
  line-height: 30px;
}

p + p {
  text-indent: 30px;
}

p + blockquote {
  margin-top: 40px;
}

blockquote {
  border-left: 2px solid black;
  padding-left: 20px;
}

.pullout {
  width: 700px;
  font-size: 30px;
  line-height: 45px;
}

.small {
  margin-top: 10px;
  font-size: 15px;
  line-height: 25px;
  color: #b4b4b4;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a:hover, a:focus {
  color: #b4b4b4;
}

.plainLink {
  text-decoration: none;
}

.activeLink {
  text-decoration: underline;
}

.inactiveLink {
  color: #b4b4b4;
}

.a1 {
  margin-top: 0px;
}

strong { 
  font-weight: normal;
  font-weight: 500;
}

.italic {
  font-style: italic;
}



/* Home */

.site__content nav {
  display: flex;
  justify-content: space-around;
}

.filter {
  display: inline-block;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid__item {
  width: calc((100% / 2) - 10px);
  margin-bottom: 20px;
  display: block;
  transition: opacity .3s ease;
}

.grid__item:hover .grid__image {
  opacity: 0.6;
}

.grid__link {
  display: block;
}

.grid__image {
  transition: .2s ease;
}

.viewProject {
  display: flex;
  flex-flow: row nowrap;
}

#linkArrow {
  height: 25px;
  width: 25px;
  fill: #b4b4b4;
  stroke: #b4b4b4;
  stroke-linejoin: round;
  transition: .2s ease;
}

.grid__caption:hover {
  color: black;
}

.viewProject:hover #linkArrow {
  width: 40px;
}


/* Blog */

.list__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(123, 123, 123, .2);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.list__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list__description {
  color: #b4b4b4;
}



/* Post */

.post__content p {
  max-width: 700px;
  margin-bottom: 10px;
}

figcaption.flex p {
  width: 50%;
}

figcaption p + p {
  text-indent: 0px;
}



/* About */

.about__content {
  max-width: 700px;
}

.about__links ul {
  list-style: none;
  margin: 100px 0;
  padding-left: 0;
}

.about__links li {
  display: inline-block;
}

.about__links li + li {
  margin-left: 40px;
}



/* Project */

.project__content p {
  max-width: 700px;
  margin-bottom: 10px;
}



/* Creation of Adam */

canvas {
  width: 700px;
  height: 700px;
  background: black;
}

#creationOfAdam figure {
  display: flex;
}

#creationOfAdam canvas {
  flex-shrink: 0;
}


/* Animation */
.animate1{
  -webkit-animation-name: animate1;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes animate1{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.animate2{
  -webkit-animation-name: animate2;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes animate2{
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px)
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    -webkit-transform: translateY(0px)
  }
}

.animate3{
  -webkit-animation-name: animate3;
  -webkit-animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes animate3{
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px)
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    -webkit-transform: translateY(0px)
  }
}

.animate4{
  -webkit-animation-name: animate4;
  -webkit-animation-duration: 1.05s;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes animate4{
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px)
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    -webkit-transform: translateY(0px)
  }
}

.animate5{
  -webkit-animation-name: animate5;
  -webkit-animation-duration: 1.15s;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes animate5{
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px)
  }

  50%{
    opacity: 0;
  }

  100%{
    opacity: 1;
    -webkit-transform: translateY(0px)
  }
}

.animate{
  -webkit-animation-name: animate3;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes animate{
  0%{
    opacity: 0;
    -webkit-transform: translateY(-20px)
  }

  50%{
  }

  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}